*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
a{
    color: #fff;
}
body,html{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: relative;
    background-color: rgb(30, 30, 255);

}
label{
    margin: 20px 0px 0 30px;
    font-size: 2rem;
}
.icon:hover{
    color: #9b9696;
    transform: scale(0.9);
    
}

label span{
    color: #fff;
    height:40px;
    width: 40px;
    cursor: pointer;
    transition: all 0.5s ease;
}
input{
    opacity: 0;
    position: absolute;
}
.slide-1{
    transform: translateY(-150px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 30, 255);

    color: #fff;
    text-align: center; 
    position: sticky
}
.slide-1 a{
    font-size: 5rem;
    margin-bottom: 20px;
}
.slide-1 section{
    position: absolute;
    transition: all 1s ease-in-out;
}
.slide-1 p{
    font-size: 3rem;
}
.slide-2{
    position: absolute;
    color: #fff;
    height: 100vh;
    background-color: rgba(255, 0, 242, 0.837);
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
    right: -100%;
    transition: all 1s ease-in-out;
}
#rocket:checked ~ div.container div.slide-2{
    right: -10%;
}
.slide-2 a{
    font-size: 5rem;
    margin-bottom: 30px;
}

.slide-3{
    position: absolute;
    color: #fff;
    height: 100vh;
    background-color: rgba(248, 2, 2, 0.877);
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
    right: -100%;
    transition:all 1s ease-in-out;
}
#home:checked ~ div.container div.slide-3{
    right: -10%;
}
.slide-3 a{
    font-size: 5rem;
    margin-bottom: 30px;
}

.slide-4{
    position: absolute;
    color: #fff;
    height: 100vh;
    background-color: rgba(40, 176, 10,0.877);
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
    right: -100%;
    transition: all 1s ease-in-out;
}
#plus-circle:checked ~ div.container div.slide-4{
    right: -10%;
}
.slide-4 a{
    font-size: 5rem;
    margin-bottom: 30px;
}

#plus-circle:checked + label span,
#home:checked + label span,
#rocket:checked + label span{
transform: scale(0.8);
color: #9b9696;
}
#rocket:checked ~ div.container .slide-1 section{
    opacity: 0.3;
}
#plus-circle:checked ~ div.container .slide-1 section{
    opacity: 0.3;
}
#home:checked ~ div.container .slide-1 section{
    opacity: 0.3;
}